In [1]:
from keras.models import Sequential, load_model
from keras.layers import Dense, Activation, Dropout
from keras_tqdm import TQDMNotebookCallback
import keras.callbacks

from sqlalchemy import create_engine
import json

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

Using TensorFlow backend.

In [125]:
version = 'v2'

# R  W  111111111111
# R  P  11111111111
# G  W  11111111111
# G  P  11111111111
# H  W  11111111111
# H  P  11111111111

category = 'R'
# category = 'G'
# category = 'H'

bet_type = 'W'
# bet_type = 'P'

In [126]:
engine = create_engine('sqlite:///../../data/race.db')
conn = engine.connect()
conn
dfoo = pd.read_sql_table('race', conn)
print('{} races loaded!'.format(len(dfoo)))

37715 races loaded!

In [127]:
dfo = dfoo.loc[dfoo['race_type'].isin([category])]
print('{} {} races!'.format(len(dfo), category))

12038 R races!

In [128]:
dfo['results'] = dfo['results_data'].map(json.loads)
dfo['runners'] = dfo['runners_data'].map(json.loads)
dfo.head(3)

/Users/jaco/.pyenv/versions/3.6.1/envs/tabby/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/jaco/.pyenv/versions/3.6.1/envs/tabby/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,id,meeting_name,location,venue_mnemonic,race_type,meeting_date,race_number,race_name,race_start_time,race_status,race_distance,results_data,num_runners,runners_data,quinella,exacta,trifecta,first_four,results,runners
0,1,BALLINA,NSW,C,R,2017-10-01,1,COATES HIRE MAIDEN PLATE,2017-10-01 01:40:00,Paying,1600,"[[4], [9], [7], [6]]",11.0,"[{""runnerName"": ""WHO AM I"", ""runnerNumber"": 12...",35.2,27.4,170.9,401.1,"[[4], [9], [7], [6]]","[{'runnerName': 'WHO AM I', 'runnerNumber': 12..."
1,3,BALLINA,NSW,C,R,2017-10-01,3,CNW ELECTRICAL WHOLESALE CG&E BM55,2017-10-01 02:55:00,Paying,1000,"[[3], [4], [5], [1]]",7.0,"[{""runnerName"": ""MCLENNAN"", ""runnerNumber"": 1,...",14.1,23.1,100.3,710.5,"[[3], [4], [5], [1]]","[{'runnerName': 'MCLENNAN', 'runnerNumber': 1,..."
2,4,BALLINA,NSW,C,R,2017-10-01,4,LEND LEASE MAIDEN HANDICAP,2017-10-01 03:35:00,Paying,1300,"[[14], [5], [1], [13]]",12.0,"[{""runnerName"": ""WOODDITTON"", ""runnerNumber"": ...",8.5,22.6,49.6,1158.9,"[[14], [5], [1], [13]]","[{'runnerName': 'WOODDITTON', 'runnerNumber': ..."

In [129]:
# extract runners from races
data_all = pd.DataFrame()
for ri, race in dfo.iterrows():
    data_all = data_all.append(race['runners'])
data_all.tail(3)

,P_pred,P_prob,W_pred,W_prob,barrierNumber,claimAmount,finishingPosition,fixedOdds,has_odds,num_runners,...,place_rank,place_scaled,riderDriverName,runnerName,runnerNumber,trainerName,win_odds,win_perc,win_rank,win_scaled
6,NaN,NaN,NaN,NaN,7,3.0,0,"{'returnWin': 81, 'returnWinOpen': 61, 'return...",True,0.111111,...,0.111111,0.012023,B R JONES,JUBILEE LASS,7,P DANDO,232.5,0.004301,0.111111,0.003652
7,NaN,NaN,NaN,NaN,8,-1.0,3,"{'returnWin': 9, 'returnWinOpen': 6.5, 'return...",True,0.111111,...,0.888889,0.135689,TOM SCUDAMORE,TIMEFORBEN,8,D E PIPE,4.8,0.208333,0.888889,0.176899
8,NaN,NaN,NaN,NaN,9,3.0,0,"{'returnWin': 11, 'returnWinOpen': 17, 'return...",True,0.111111,...,0.888889,0.135689,DANIEL SANSOM,WESTERBERRY,9,J W MULLINS,17.1,0.058480,0.444444,0.049656

In [130]:
# drop scratched
data = data_all.dropna(subset=['has_odds'])
data.tail(3)

,P_pred,P_prob,W_pred,W_prob,barrierNumber,claimAmount,finishingPosition,fixedOdds,has_odds,num_runners,...,place_rank,place_scaled,riderDriverName,runnerName,runnerNumber,trainerName,win_odds,win_perc,win_rank,win_scaled
6,NaN,NaN,NaN,NaN,7,3.0,0,"{'returnWin': 81, 'returnWinOpen': 61, 'return...",True,0.111111,...,0.111111,0.012023,B R JONES,JUBILEE LASS,7,P DANDO,232.5,0.004301,0.111111,0.003652
7,NaN,NaN,NaN,NaN,8,-1.0,3,"{'returnWin': 9, 'returnWinOpen': 6.5, 'return...",True,0.111111,...,0.888889,0.135689,TOM SCUDAMORE,TIMEFORBEN,8,D E PIPE,4.8,0.208333,0.888889,0.176899
8,NaN,NaN,NaN,NaN,9,3.0,0,"{'returnWin': 11, 'returnWinOpen': 17, 'return...",True,0.111111,...,0.888889,0.135689,DANIEL SANSOM,WESTERBERRY,9,J W MULLINS,17.1,0.058480,0.444444,0.049656

In [131]:
# get label data
Y = data['finishingPosition']

if bet_type == 'W':
    Y = (Y == 1)
elif bet_type == 'P':
    Y = (Y == 1) | (Y == 2) | ((Y == 3) & (data['num_runners'] >= 8))

#print(data['finishingPosition'].head(10))
Y = Y.astype(int)
# Y.head(10)
Y.describe()

count    134395.000000
mean          0.089683
std           0.285729
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: finishingPosition, dtype: float64

In [132]:
xn = data['num_runners']
xwp = data['win_perc']
xws = data['win_scaled']
xwr = data['win_rank']
xpp = data['place_perc']
xps = data['place_scaled']
xpr = data['place_rank']
X = pd.concat([xn, xwp, xws, xwr, xpp, xps, xpr], axis=1)
X.describe()

,num_runners,win_perc,win_scaled,win_rank,place_perc,place_scaled,place_rank
count,134395.000000,134395.000000,134395.000000,134395.000000,134395.000000,134395.000000,134395.000000
mean,0.101776,0.105984,0.089572,0.528296,0.294487,0.089572,0.532629
std,0.031897,0.116856,0.098532,0.314083,0.229404,0.074417,0.315695
min,0.041667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.083333,0.025381,0.021436,0.285714,0.116279,0.034084,0.285714
50%,0.090909,0.068027,0.057364,0.545455,0.250000,0.074285,0.555556
75%,0.111111,0.147059,0.124184,0.800000,0.434783,0.128374,0.800000
max,0.333333,0.961538,0.894509,1.000000,1.000000,0.946292,1.000000

In [133]:
# For a single-input model with 2 classes (binary classification):

n = len(X.columns)
print('input dimension = {}'.format(n))

epochs = 500
print('epochs = {}'.format(epochs))

layer_1 = 50
layer_2 = 50

tag = '{}{}x{}{}'.format(category, layer_1, layer_2, bet_type)
print('tag = {}'.format(tag))
file_name = '/Users/jaco/code/tabby/each_way/{}/models/{}.h5'.format(version, tag)

try:
    model = load_model(file_name)
    print('model loaded')
except OSError:
    model = Sequential()
    model.add(Dense(layer_1, activation='relu', input_dim=n))
    model.add(Dense(layer_2, activation='relu'))
    model.add(Dense(1, activation='sigmoid'))
    model.compile(optimizer='adam',
                  loss='binary_crossentropy',
                  metrics=['accuracy'])
    print('model created')

input dimension = 7
epochs = 500
tag = R50x50W
model loaded

In [ ]:
# Train the model, iterating on the data in batches of 32 samples
tqdm = TQDMNotebookCallback()

tbCallBack = keras.callbacks.TensorBoard(
    log_dir='/Users/jaco/code/tabby/each_way/{}/summary/{}'.format(version, tag), 
    histogram_freq=0,
    write_graph=True,
    write_images=True)

model.fit(
    X.as_matrix(), 
    Y.as_matrix(),
    validation_split=0.2,
    shuffle=True,
    epochs=epochs,
    batch_size=32,
    verbose=0,
    callbacks=[tqdm, tbCallBack])

# creates a HDF5 file
model.save(file_name)
print('model saved')